<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2785.1482" targetFramework="net472" />
  <package id="cef.redist.x86" version="3.2785.1482" targetFramework="net472" />
  <package id="CefSharp.Common" version="53.0.0" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="53.0.0" targetFramework="net472" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Fody" version="6.2.0" targetFramework="net472" developmentDependency="true" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>